{% extends "card/tease.twig" %}

{% block content %}
    {% if itemnum != 1 %}
        <h2 class="heading2 blog__title">
            <a href="{{ post.link }}">
                {{ post.title }}
            </a>
        </h2>
    {% endif %}

    {% if post.thumbnail.src %}
        <div class="blog__image" style="background-image: url('{{ post.thumbnail.src }}');">
            {% if itemnum == 1 %}
                <h2 class="heading2 blog__title">
                    <a href="{{ post.link }}">
                        {{ post.title }}
                    </a>
                </h2>

                <div class="blog__image-content">
                    {{ post.preview.length(50).read_more('Lees meer') }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <p class="blog__content">
        {% if itemnum != 1 %}
            {{ post.preview.length(8).read_more('Lees meer') }}
        {% endif %}
    </p>
{% endblock %}
