<article class="blog__article blog-{{ post.post_type }} {{ blogType }}" id="blog-{{ post.ID }}">
    {% block content %}
        <h2 class="heading2">
            <a href="{{ post.link }}">{{ post.title }}</a>
        </h2>
        {% if post.get_thumbnail %}
            <img src="{{ post.thumbnail.src }}"/>
        {% endif %}
        <p>
            {{ post.preview }}
        </p>
    {% endblock %}
</article>
