<article class="blog__small blog__small{{ blogType }}">
    <a href="{{ post.link }}" class="blog__image" style="background-image: url('{{ post.thumbnail.src('large') }}')">
        {#image#}
    </a>
    <div class="blog__content">
        <div class="blog__header">
            <h3 class="heading3 blog__title">
                <a href="{{ post.link }}">
                    {{ post.title }}
                </a>
            </h3>
        </div>
        <div class="blog__info">
            <ul>
                {% if post.categories %}
                    <li>
                        <p>
                            <strong>In:</strong>
                            {% for cat in post.categories %}
                                <a href="{{ cat.path }}" target="_self"> {{ cat.name }} </a>
                            {% endfor %}
                        </p>
                    </li>
                {% endif %}
                {% if post.tags %}
                    <li>
                        <p>
                            <strong>Tags:</strong> {{ post.tags|map(t => t.name)|join(', ') }}
                        </p>
                    </li>
                {% endif %}
                <li>
                    <p>
                        <strong>Op:</strong> {{ post.date }}
                    </p>
                </li>

                {% if post.comments %}
                    <li>
                        <p>
                            <a href="{{ post.link }}#comments">
                                {% if post.comments|length == 1 %}
                                <strong>{{ post.comments|length }}</strong> reactie
                                {% elseif post.comments|length > 1 %}
                                <strong>{{ post.comments|length }}</strong> reacties
                                {% else %}
                                <a href="{{ post.link }}#comments"><i>Nog geen reacties</i>
                                    {% endif %}
                                </a>
                        </p>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="blog__excerpt">
            <p>{% if blogType == '--vert' %}
                    {{ post.preview.force.length(15).read_more('Lees meer') }}
                {% else %}
                    {{ post.preview.force.length(25).read_more('Lees meer') }}
                {% endif %}
            </p>
        </div>
    </div>
</article>
