<section class="section-text {{ block.block_margin }} {{ block.block_padding }}">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="view-text__wrapper">
                    <h1 class="{{ block.title_alignment }}">
                        {{ block.title }}
                    </h1>
                    <p>
                        {{ block.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

