{% if menu %}
	<ul>
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
			{% include "partial/menu.twig" with {'menu': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
