{% if posts.pagination.pages is not empty %}
    <nav class="block__pagination">
        <ul class="pagination__list">
            {% if pagination.pages|first and pagination.pages|first.current != true %}
                <li class="pagination__item item__first">
                    <a href="{{ pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="pagination__item item__first item__disabled">
                    <button disabled>First</button>
                </li>
            {% endif %}

            {% if pagination.prev %}
                <li class="pagination__item item__prev">
                    <a href="{{ pagination.prev.link }}">Previous</a>
                </li>
            {% else %}
                <li class="pagination__item item__prev item__disabled">
                    <button disabled>Previous</button>
                </li>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page.link %}
                    <li class="pagination__item">
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="pagination__item  item__current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li class="pagination__item item__next">
                    <a href="{{ pagination.next.link }}">
                        Next
                    </a>
                </li>
            {% else %}
                <li class="pagination__item item__next item__disabled">
                    <button disabled>
                        Next
                    </button>
                </li>
            {% endif %}

            {% if pagination.pages|last and pagination.pages|last.current != true %}
                <li class="pagination__item item__last">
                    <a href="{{ pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="pagination__item item__last item__disabled">
                    <button disabled>Last</button>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
